.my-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}
    button{
        width: 30%;
        height: 10vh;
        background-color: rgb(230, 101, 101);
        color: black;
        display: flex;
        font-size: 25px;
        font-family: sans-serif;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border: none;

    }


.image{
    width: 150px;
    height: 150px;
    border-radius:75px;
    border: solid rgb(223, 132, 132) 1px;
    display: inline-block;
}
#biography
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont{
    display: inline;
    width: 83%;
    font-size: 18px;
    float: right;

}
.container{
    display: inline-block;
}
.profile{
    display: inline-block;
}

#goal{
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    font-size: 18px;
}
p{
    font-size: 18px;
}
